<div>
    <div>
        <nav>
            <a>Home</a>
            <a>Projects</a>
            <a>Contact</a>
        </nav>
    </div>
    <div>
        <h4>Join our student community</h4>
        <a>Sign Up</a>
    </div>
    <div>
        <div>
            <!-- icons of websites and social platforms -->
            <img>
            <img>
            <img>
            <img>
            <img>
        </div>
        <a>Privacy Policy</a>
        <a>Terms of Use</a>
        <p>Copyright &copy; 2018 MHS Developers Club. All rights reserved.</p>
    </div>
</div>