<div>
    <div>
        <img alt="Image of project">
        <div>
            <!-- shown on hover -->
            <h3>Project Title</h3>
            <p>Description of the team project. Describe its functionality, goals for the end user and development process.
                </p>
            <a>Live</a>
            <a>Repository</a>
        </div>
    </div>
    <div>
        <img alt="Image of project">
        <div>
            <!-- shown on hover -->
            <h3>Project Title</h3>
            <p>Description of the team project. Describe its functionality, goals for the end user and development process.
                </p>
            <a>Live</a>
            <a>Repository</a>
        </div>
    </div>
    <div>
        <img alt="Image of project">
        <div>
            <!-- shown on hover -->
            <h3>Project Title</h3>
            <p>Description of the team project. Describe its functionality, goals for the end user and development process.
                </p>
            <a>Live</a>
            <a>Repository</a>
        </div>
    </div>
</div>