h1, .fz1, .fz-3 { font-size: 3rem; }
h2, .fz2, .fz-2-25 { font-size: 2.25rem; }
h3, .fz3, .fz-1-5 { font-size: 1.5rem; }
h4, .fz4, .fz-1-25 { font-size: 1.25rem; }
h5, .fz5, .fz-1 { font-size: 1rem; }
h6, .fz6, .fz-0-875 { font-size: .875rem; }

.maw-30, .maw-normal, p { max-width: 30em; }
.maw-34, .maw-wide { max-width: 34em; }
.maw-20, .maw-narrow { max-width: 20em; }

.lh-solid, .lh-1 { line-height: 1; }
.lh-title, .lh-1-25 { line-height: 1.25; }
.lh-copy, .lh-1-5, p { line-height: 1.5; }

.lt-0-25, .lt-mega { letter-spacing: 0.25em; }
.lt-0-1, .lt-normal { letter-spacing: 0.1em; }
.lt--0-05,.lt-tight { letter-spacing: -0.05}

h1, h2, b, .fw-700, .fw-bold { font-weight: 700; }
h3, h5, h6, .fw-600, .fw-semi-bold { font-weight: 600; }
h4, .fw-500, .fw-medium { font-weight: 500; }
p, .fw-400, .fw-normal { font-weight: 400; }

p, .fs-n { font-style: normal; }
i, .fs-i { font-style: italic; }

.va-b { vertical-align: bottom; }
.va-bl { vertical-align: baseline; }
.va-m { vertical-align: middle; }
.va-sub { vertical-align: sub; }
.va-sup { vertical-align: super; }
.va-t { vertical-align: top; }
.va-tb { vertical-align: text-bottom; }
.va-tt { vertical-align: text-top; }

.ta-c { text-align: center; }
.ta-e { text-align: end; }
.ta-end { text-align: right; }
.ta-j { text-align: justify; }
.ta-mp { text-align: match-parent; }
.ta-s { text-align: start; }
.ta-start { text-align: left; }

.tal-a { text-align-last: auto; }
.tal-c { text-align-last: center; }
.tal-e { text-align-last: end; }
.tal-end { text-align-last: right; }
.tal-j { text-align-last: justify; }
.tal-s { text-align-last: start; }
.tal-start { text-align-last: left; }

.tt-n { text-transform: none; }
.tt-c { text-transform: capitalize; }
.tt-u { text-transform: uppercase; }
.tt-l { text-transform: lowercase; }

.td-n { text-decoration: none; }
.td-u { text-decoration: underline; }

.ff-m { font-family: "Source Code Pro", Monaco, "Courier New", monospace; }
.ff-s { font-family: "Source Serif Pro", Georgia, "Times New Roman", serif; }
