<div>
    <section>
        <img alt="Clipart about community">
        <h3>Community</h3>
        <p>Description of the community at MHS Developers Club. Describe different platforms for feedback/help - Weekly
            meeting (time and location), Discourse forum and Facebook group.</p>
    </section>
    <section>
        <img alt="Clipart about competitions">
        <h3>Competitions</h3>
        <p>Description of the competitions held and participated by MHS Developers Club. Describe different competitions
            (hackathons, ProgComp, etc.) we participate in and HackerRank comps we host.</p>
    </section>
    <section>
        <img alt="Clipart about courses">
        <h3>Courses</h3>
        <p>Description of the courses run by MHS Developers Club. Describe different topics, difficulty level and structure.
            Run by other students/club leaders.</p>
    </section>
</div>